body {
  background-color: $color_body;

  .container {
    max-width: $container_max_width;
    height: auto;
    margin: 120px auto;
    padding-bottom: 2rem;
   
    background-color: $color_container;

    h2 {
      text-align: center;
      // padding: 2rem 0;
      padding-top: 3rem;
      padding-bottom: 2rem;
      color: $color_header;
      line-height: 0.6;
    }

    .form-input {
      text-align: center;
      margin-top: 1.3rem;
      min-width: 30%;
      position: relative;

      &.not-empty {
        label {
          top: -1.2em;
          font-size: 0.9em;
        }
      }
      input {
        width: 55%;
        padding: 0.2em, 0;
        border: none;
        outline: none;
        border-bottom: solid 1px $color_grey;
        min-width: inherit;

        + label {
          margin-left: 4.6rem;
          position: absolute;
          left: 0;
          top: 0;
          transition: 0.5s all;
          color: $color_grey;
        }

        &:focus {
          border-color: $color_primary;

          + label {
            top: -1.3em;
            font-size: 0.9em;
            color: $color_primary;
          }
        }
      }
    }

    .form-radio {
      margin-top: 2rem;
      margin-left: 4rem;

      input {
        visibility: hidden;
        position: absolute;

        + label {
          position: relative;
          padding-left: 1.2rem;
          margin-left: 1rem;
          cursor: pointer;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0.2rem;
            left: 0;
            width: 0.8rem;
            height: 0.8rem;
            border: 1px solid black;
            border-radius: 50px;
            transition: 0.5s all;
          }
        }
      }

      input:checked {
        + label {
          &::before {
            border-color: crimson;
          }
          &::after {
            border: none;
            background: crimson;
            transform: scale(0.6);
          }
        }
      }
    }

    .form-checkbox {
     
       text-align: center;

      .conditions {
        font-style: italic;
        font-size: 0.8rem;
        padding-top: 0.1rem;
      }

      input {
        visibility: hidden;
        position: absolute;

        + label {
          position: relative;
          padding-left: 1.2rem;
          margin: 1rem 1rem 1rem 0;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            top: 0.1rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            border: 1px solid black;
            border-radius: 3px;
            transition: 0.5s all;
          }

          &::after {
            content: "\2714";
            position: absolute;
            top: 0.1rem;
            line-height: 1.2;
            padding-right: 0.15rem;
            padding-top: .05rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            border: 1px solid transparent;
            border-radius: 3px;
            background-color: rgb(26, 79, 224);
            color: white;
            font-size: 0.65rem;
            transition: 0.5s all;
            opacity: 0;
          }
        }
      }

      input:checked {
        + label {
          &::before {
            border-color: rgb(60, 85, 224);
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .btn_box {
     
     text-align: center;
     margin: 3rem 0;
     

      .btn {
        background-color:$color_primary;
        color: white;
        border: none;
        border: solid 0.0002rem $color_primary;
        width: 55%;
        outline: none;
        padding: 0.3rem;
        font-size: 1rem;
        cursor: pointer;

      }

     // input[type=button] {
        // background-color:$color_primary;
        // color: white;
        // border: none;
        // border: solid 0.0002rem $color_primary;
        // width: 55%;
        // outline: none;
        // padding: 0.3rem;
        // font-size: 1rem;
        // cursor: pointer;
   //   }

      input[type=button]:disabled {
        background-color: rgb(228, 228, 228);
        color: rgb(175, 174, 174);
        border: none;
        outline: none;
      }

      input[disabled].btn:hover
     // input[disabled].btn:active,
     // input[disabled].btn:focus 
     {
        background: rgb(226, 225, 225);
        cursor:not-allowed;
      }
    }
  }
}
