
$root_font_size: 18px;
$container_max_width: 300px;
$container_height: 300px;
$color_grey: silver;
$color_primary: rgb(0, 110, 255);
$color_header: rgb(235, 142, 55);
$color_body:rgb(248, 248, 248);
$color_container: white;