
$root_font_size: 18px;
$container_max_width: 350px;
// $container_height: 350px;
$color_grey: silver;
$color_primary: rgb(39, 125, 238);
$color_header: rgb(57, 90, 238);
$color_body:rgb(236, 236, 236);
$color_container: white;